.main-nav {
  display: flex;
  background-color: #607D8B;
  padding: 0;
  margin: 0;
}
.main-nav li {
  list-style-type: none;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  color: #fff;
  display: block;
  font-size: .8em;
  padding: 5px;
  text-decoration: none;
}
.main-nav a:hover {
  background-color: #CFD8DC;
}